@charset "utf-8";
/* CSS Document */

:root{
	--font-color: white;		 
	--font: sans-serif;

	/*Index Background Colors*/
	--background-color: #006635;      	/*Dark Green*/
	--header-border-color: #636125;   	/*Dark Gold*/
	--tile-color: #b4bd80;			/*Bkg color for index's tiles*/


	/*Text Background Colors*/
	--Necronomicon-bkg-col: #770000;  	/*Dark Red*/
	--Lullaby-bkg-col: #3c1361; 	  	/*Dark Purple*/
	--Collateral-bkg-col: #c7882a;		/*Yellow-Gold*/
	--Bleak-bkg-col: #345eeb;		/*Bold Light Blue*/
	--GADIG-bkg-col: #2f2f2f;		/*Dark Gray*/	
	--ExperimentIn-bkg-col: #8656b0;	/*Light Purple*/
	--MMMM-bkg-col: #c41bc2;		/*Pink*/
	--AotMC-bkg-col: #2d9de3;		/*Light Blue*/
}

/*Titles: the top of the page*/
h1{
	font-size: 2.75em; /*   40px/16 = 2.5 em*/
	text-align: center;
}

/*Contact Info:  will have to adjust margins & padding for screen size later*/
h2{
	font-size: 1.25em; /*   20px/16 = 1.25 em*/
	text-align: center;
	background-color: var(--header-border-color);
	
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
}



/*Project Descriptions - text boxes will have to adjust for page size*/
.ptext{
	background-color: var(--Necronomicon-bkg-col);
	margin-left: 0%;
	margin-right: 0%;
	padding: 2%;

	font-size: 1em; /*   16px/16 = 1 em*/
	color: white;
	border: 1px none white;
	border-radius: 5px;
}

/*Project Images*/
.pImage{
	margin-left: 10%;
	margin-right:10%;
	padding:2%;
	font-size: 1.125; /*   18px/16 = 1.125 em*/
}

/*Project Section Header*/
/*Used only to underline the "mini-header" of a section in a text box*/
.pHeader{
	text-decoration: underline;
}

/*Puts all text in the center of the screen.  Used as it's own class 
to add it's own unique tags for each iteration of it (eg: change font size
in the middle of a string of text; etc.)*/
.center{
	text-align: center;
}

/*Navigation Menu Text*/
nav ul li{
	list-style-type: none;
	padding-left: 1.25em; /*   20px/16 = 1.25 em*/
	text-align: right;
	float: right;
}

/*Navigation Menu Hyperlinks*/
nav ul li a{
	text-decoration:none;
	color: white;
	font-size: 1.25em; /*   20px/16 = 1.25 em*/
}

/*"Body" Background of the webpage*/
body{
	background-color: var(--background-color); /* Dark Green */

	/*Borders and Alignment*/
	margin: 0% 10%; /*top/bot %   left/right %*/


	/*Font*/
	color: var(--font-color);
	font-family: var(--font);
}

.parallax{
	height: 100%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}







/*******************************************************************/
/*******************************************************************/
/*              Adapting for different screen sizes                */
/*******************************************************************/
/*******************************************************************/







/*Half Size (snapped to left/right*/
@media(max-width:1200px){
	.parallax{
		height: 70%;
	}
	body{
		margin-left: 5%;
		margin-right: 5%;
	}
}

/*Smaller Web Browser*/
@media(max-width:830px){
	.parallax{
		height: 80%;
	}
}


/*Mobile Sized*/
@media(max-width:700px){
	h2{
		color: blue;
		/*font-size: 100px;*/
	}


	body{
		margin: 0% 0%; /*top/bot %   left/right %*/
	}
	.parallax{
		height: 60%;
	}

}