@charset "utf-8";
/* CSS Document */

:root{
	--font-color: white;		 
	--font: sans-serif;

	/*Index Background Colors*/
	--background-color: #131313;				/*Dark Gray*/
	--nav-col: #008857;       			    /*Green*/;
	--hov-col: #007768;				          /*Lighter Green*/;
	--header-border-color: #636125;   	/*Dark Gold*/
	--tile-color: #b4bd80;							/*Bkg color for index's tiles*/


	/*Text Background Colors*/
	--Necronomicon-bkg-col: #770000;  	/*Dark Red*/
	--Lullaby-bkg-col: #3c1361; 	  		/*Dark Purple*/
	--Collateral-bkg-col: #c7882a;			/*Yellow-Gold*/
	--Bleak-bkg-col: #345eeb;						/*Bold Light Blue*/
	--GADIG-bkg-col: #2f2f2f;						/*Dark Gray*/	
	--ExperimentIn-bkg-col: #8656b0;		/*Light Purple*/
	--MMMM-bkg-col: #c41bc2;						/*Pink*/
	--AotMC-bkg-col: #2d9de3;						/*Light Blue*/
	--Arcade-col:  #20bb20;							/*Lime Green*/
	--Writing-col:  #6d00c1;						/*Saturated Purple*/
	--Bar-col:  #FcFcFc;								/*Light Gray*/
}

/*Titles: the top of the page*/
h1{
	font-size: 2.75em; /*   40px/16 = 2.5 em*/
	text-align: center;
	margin: 7% 0% 0%;
}

/*Contact Info:  will have to adjust margins & padding for screen size later*/
h2{
	font-size: 1.25em; /*   20px/16 = 1.25 em*/
	text-align: center;
	background-color: var(--header-border-color);
	
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
}



/*Project Descriptions - text boxes will have to adjust for page size*/
.ptext{
	background-color: var(--Necronomicon-bkg-col);
	margin-left: 0%;
	margin-right: 0%;
	padding: 2%;

	font-size: 1em; /*   16px/16 = 1 em*/
	color: white;
	border: 1px none white;
	border-radius: 5px;
}

/*Project Images*/
.pImage{
	margin-left: 10%;
	margin-right:10%;
	padding:2%;
	font-size: 1.125; /*   18px/16 = 1.125 em*/
}

/*Project Section Header*/
/*Used only to underline the "mini-header" of a section in a text box*/
.pHeader{
	text-decoration: underline;
}

/*Puts all text in the center of the screen.  Used as it's own class 
to add it's own unique tags for each iteration of it (eg: change font size
in the middle of a string of text; etc.)*/
.center{
	text-align: center;
}



/*"Body" Background of the webpage*/
body{
	background-color: var(--background-color); /* Dark Green */

	/*Borders and Alignment*/
	margin: 0% 10%; /*top/bot %   left/right %*/


	/*Font*/
	color: var(--font-color);
	font-family: var(--font);
}

.parallax{
	height: 100%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}









/*******************************************************************/
/*******************************************************************/
/*                        Navigation Bar                           */
/*******************************************************************/
/*******************************************************************/
.header {
  background-color: var(--nav-col);
  color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;

  margin: 0% -10%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--nav-col);
}

.header li a {
  display: block;
  padding: 15px 10px;
  border-left: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--hov-col);
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 15px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 15px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}



/*Menu Icon*/

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/*Anything NOT Mobile Sized (i.e. tablet and larger)*/
@media (min-width: 1080px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}








/*******************************************************************/
/*******************************************************************/
/*              Adapting for different screen sizes                */
/*******************************************************************/
/*******************************************************************/







/*Half Size (snapped to left/right*/
@media(max-width:1200px){
	.parallax{
		height: 70%;
	}
	body{
		margin-left: 5%;
		margin-right: 5%;
	}
	.header{
		margin-left: -5%;
	}
}

/*Smaller Web Browser*/
@media(max-width:830px){
	.parallax{
		height: 80%;
	}

	h1{
		margin: 17% 0% 0%;
	}
}


/*Mobile Sized*/
@media(max-width:700px){
	h1{
		margin: 20% 0% 0%;
	}


	body{
		margin: 0% 0%; /*top/bot %   left/right %*/
	}
	.header{
		margin-left: 0%;
	}
	.parallax{
		height: 60%;
	}

}