@charset "utf-8";
/* CSS Document */

:root{
	--font-color: white;
	--font: sans-serif;

	/*Index Background Colors*/
	--background-color: #FFFFFF;		/*Dark Gray*/
	--nav-col: #006635;      			/*Dark Green*/;
	--header-border-color: #808000; 	/*Olive*/
	--tile-color: #b4bd80;				/*Bkg color for index's tiles*/


	/*Text Background Colors*/
	--Necronomicon-bkg-col: #770000;  	/*Dark Red*/
	--Lullaby-bkg-col: #3c1361; 	  	/*Dark Purple*/
	--Collateral-bkg-col: #c7882a;		/*Yellow-Gold*/
	--Bleak-bkg-col: #345eeb;			/*Bold Light Blue*/
	--GADIG-bkg-col: #2f2f2f;			/*Dark Gray*/	
	--ExperimentIn-bkg-col: #8656b0;	/*Light Purple*/
	--MMMM-bkg-col: #c41bc2;			/*Pink*/
	--AotMC-bkg-col: #2d9de3;			/*Light Blue*/

}

/*Titles: the top of the page*/
h1{
	font-size: 4em;
	text-align: center;
	text-shadow: 4px 4px #000000;
}


/*Contact Info Bio*/
.bio{
	padding: 1.5% 2%;
	margin: 5% 0%;
	font-size: 1.25em;
	color: black;
	text-align: center;
}



/*"Body" Background of the webpage*/
body{
	background-color: var(--background-color);
	margin: 0%;

	/*Font*/
	color: var(--font-color);
	font-family: var(--font);

}




.parallax{
	height: 100%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding-top: 3%;
	padding-bottom: 5%;
}






/*******************************************************************/
/*******************************************************************/
/*              Adapting for different screen sizes                */
/*******************************************************************/
/*******************************************************************/



/*Half Window Web Browser*/
@media(max-width: 1080px){
	body{
		margin: 0%;
	}

	.nav{
		margin-left: 0%;
	}

}



@media(max-width: 900px){

	h1{
		margin-top: 20%;
	}
}


/*Tablet Sized*/
@media(max-width:856px){
	body{
		margin: 0%;
	}
	.nav{
		margin-left: 0%;
	}


}



/*Mobile Sized*/
@media(max-width:520px){

	
}