@charset "utf-8";
/* CSS Document */

:root{
	--font-color: black;
	--font: sans-serif;

	/*Index Background Colors*/
	--background-color: #131313;		/*Dark Gray*/
	--nav-col: #008857;      			/*Green*/;
	--hov-col: #007768;      			/*Lighter Green*/;
	--header-border-color: #808000; 	/*Olive*/
	--tile-color: #b4bd80;				/*Bkg color for index's tiles*/


	/*Text Background Colors*/
	--Necronomicon-bkg-col: #770000;  	/*Dark Red*/
	--Lullaby-bkg-col: #3c1361; 	  	/*Dark Purple*/
	--Collateral-bkg-col: #c7882a;		/*Yellow-Gold*/
	--Bleak-bkg-col: #345eeb;			/*Bold Light Blue*/
	--GADIG-bkg-col: #2f2f2f;			/*Dark Gray*/	
	--ExperimentIn-bkg-col: #8656b0;	/*Light Purple*/
	--MMMM-bkg-col: #c41bc2;			/*Pink*/
	--AotMC-bkg-col: #2d9de3;			/*Light Blue*/

}

/*Titles: the top of the page*/
h1{
	font-size: 4.5em; /*   96px/16 = 6 em*/
	text-align: center;
	color: white;
	text-shadow: 4px 4px #000000;
}

/*Contact Info:  will have to adjust margins & padding for screen size later*/
h2{
	font-size: 2em;
	text-align: center;
	text-shadow: 2px 2px #000000;
	color: white;
}


/*Quick Bio*/
.bio{
	padding: 3% 2%;
	margin: 1% 2%;
	font-size: 1.2em;
}


/*"Body" Background of the webpage*/
body{
	background-color: white;/*var(--background-color); /* Dark Green */

	/*Borders and Alignment*/
	margin: 0%;


	/*Font*/
	color: var(--font-color);
	font-family: var(--font);
}




.parallax{
	height: 100%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding-top: 3%;
	padding-bottom: 5%;
}



.block{
	padding: 5% 4%;
	margin-bottom: 5%;
	font-size: 1.5em;
	
	height: 10em;
	display: flex;
	align-items: center;
	justify-content: center;

}

.block p{
margin: 0 2%;
}

.block img{
	width: 30%;
	height: auto;
}



/*******************************************************************/
/*******************************************************************/
/*              Adapting for different screen sizes                */
/*******************************************************************/
/*******************************************************************/
@media(max-width: 1600px){

}


/*Tablet Sized*/
@media(max-width:856px){
	.bio{
		padding: 2% 0%;
	}
	h1{
		margin: 15% 0%;
	}
}




/*Mobile Sized*/
@media(max-width:600px){
	.block{
		font-size: 1em;
	}
	.block img{
		width: 50%;
		height: auto;
	}
}
