@charset "utf-8";
/* CSS Document */

:root{
	--font-color: white;
	--font: sans-serif;

	/*Index Background Colors*/
	--background-color: #131313;		/*Dark Gray*/
	--nav-col: #006635;      			/*Dark Green*/;
	--header-border-color: #808000; 	/*Olive*/
	--tile-color: #b4bd80;				/*Bkg color for index's tiles*/


	/*Text Background Colors*/
	--Necronomicon-bkg-col: #770000;  	/*Dark Red*/
	--Lullaby-bkg-col: #3c1361; 	  	/*Dark Purple*/
	--Collateral-bkg-col: #c7882a;		/*Yellow-Gold*/
	--Bleak-bkg-col: #345eeb;			/*Bold Light Blue*/
	--GADIG-bkg-col: #2f2f2f;			/*Dark Gray*/	
	--ExperimentIn-bkg-col: #8656b0;	/*Light Purple*/
	--MMMM-bkg-col: #c41bc2;			/*Pink*/
	--AotMC-bkg-col: #2d9de3;			/*Light Blue*/

}

/*Titles: the top of the page*/
h1{
	font-size: 6em; /*   96px/16 = 6 em*/
	text-align: center;
	text-shadow: 4px 4px #000000;
}

/*Contact Info:  will have to adjust margins & padding for screen size later*/
h2{
	font-size: 2em;
	text-align: center;
	text-shadow: 2px 2px #000000;
}


/*Navigation Bar*/
.nav{
	background-color: var(--nav-col);
	

	/*border: 2px none none;
	/*border-radius: 10px;*/
	

	top: 0;
	position: fixed;
	overflow: hidden;

	width: 100%;
	height: auto;
	
}


.nav a{
	display: block;
	float: left;
	text-align: center;

}

.nav a:hover{
	color:  black;
}

.nav li{
	display:  inline-block;
	font-size: 1.5em;
	padding: 1% 2%;

}

/*Contains both the Profile Pic and Bio*/


/*Quick Bio*/
.bio{
	padding: 3% 2%;
	margin: 1% 2%;
	font-size: 1.2em;
}


/*"Body" Background of the webpage*/
body{
	background-color: white;/*var(--background-color); /* Dark Green */

	/*Borders and Alignment*/
	margin: 0%;


	/*Font*/
	color: var(--font-color);
	font-family: var(--font);
}




.parallax{
	height: 100%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding-top: 3%;
	padding-bottom: 5%;
}






/*******************************************************************/
/*******************************************************************/
/*              Adapting for different screen sizes                */
/*******************************************************************/
/*******************************************************************/






/*~ >3/4ths of a large screen'd Web Browser*/
@media(max-width:1700px){


}

/*Both the 1650 and the 1580 are just inbetween ~ >3/4ths of the screen and ~3/4ths of the screen*/
@media(max-width: 1650px){


}

/*Both the 1650 and the 1580 are just inbetween ~ >3/4ths of the screen and ~3/4ths of the screen*/
@media(max-width: 1580px){


}

@media(max-width: 1520px){


}

/*Smaller Web Browser*/
@media(max-width:1500px){


	
}

@media(max-width: 1480px){


}

@media(max-width: 1200px){


}

/*Inbetween Half Window and Smaller Web Browser*/
@media(max-width:1100px){


}

/*Half Window Web Browser*/
@media(max-width: 1080px){


}



@media(max-width:1020px){

}

@media(max-width: 900px){

}


/*Tablet Sized*/
@media(max-width:856px){
	.bio{
		padding: 2% 0%;
	}

}

/*Smaller Tablet Sized*/
/*@media(max-width:*/


/*Mobile Sized*/
@media(max-width:520px){

}
