@charset "utf-8";
/* CSS Document */

:root{
	--font-color: white;
	--font: sans-serif;

	/*Index Background Colors*/
	--background-color: #131313;		/*Dark Gray*/
	--nav-col: #008857;      			/*Green*/;
	--hov-col: #007768;      			/*Lighter Green*/;
	--header-border-color: #808000; 	/*Olive*/
	--tile-color: #b4bd80;				/*Bkg color for index's tiles*/


	/*Text Background Colors*/
	--Necronomicon-bkg-col: #770000;  	/*Dark Red*/
	--Lullaby-bkg-col: #3c1361; 	  	/*Dark Purple*/
	--Collateral-bkg-col: #c7882a;		/*Yellow-Gold*/
	--Bleak-bkg-col: #345eeb;			/*Bold Light Blue*/
	--GADIG-bkg-col: #2f2f2f;			/*Dark Gray*/	
	--ExperimentIn-bkg-col: #8656b0;	/*Light Purple*/
	--MMMM-bkg-col: #c41bc2;			/*Pink*/
	--AotMC-bkg-col: #2d9de3;			/*Light Blue*/

}

/*Titles: the top of the page*/
h1{
	font-size: 4em;
	text-align: center;
	text-shadow: 2px 2px #000000;
	margin-top: 10%;
}

/*Contact Info:  will have to adjust margins & padding for screen size later*/
h2{
	font-size: 1.25em;
	text-align: center;
	background-color: var(--nav-col);
	
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
}


/*Quick Bio*/
.bio{
	margin: 4% 0%;
	text-align: center;
	font-size: 1.25em;
}

/*Tile Images for projects I've worked on*/
.col img{
	width: 100%;
	height: auto;
	display: block;
}

/*Columns (that contain tiles) for projects I've worked on*/
.col{
	/*Sizing and Formatting*/
	width: 250px; 		/*width: 25.33%;*/
	height: 250px;		/*height: 25.33%;*/
	float: left;
	padding: 2%; 		/* How much space there is inside the box*/

	display: block;

	/*Font*/
	font-size: 18px;
	text-align: center;

	/*Border*/
	margin-left: 4%;
	margin-top: 1%;
	margin-bottom: 2%;		/* Amount of space inbetween each box	 */
	border: 2px solid white;
	border-radius: 35px;
}


/*"Body" Background of the webpage*/
body{
	background-color: var(--background-color);

	/*Borders and Alignment*/
	margin-left: 20%;
	margin-right: 20%;


	/*Font*/
	color: var(--font-color);
	font-family: var(--font);
}




.parallax{
	height: 100%; /*this should be 100%*/
	width: auto;

	padding:  7% 0%;
	margin: 10% -35%;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}






/*******************************************************************/
/*******************************************************************/
/*              Adapting for different screen sizes                */
/*******************************************************************/
/*******************************************************************/

.header {
  background-color: var(--nav-col);
  color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;

  margin: 0% -20%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--nav-col);
}

.header li a {
  display: block;
  padding: 15px 10px;
  border-left: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--hov-col);
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 15px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 15px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}



/*Menu Icon*/

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/*Anything NOT Mobile Sized (i.e. tablet and larger)*/
@media (min-width: 900px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}












/*******************************************************************/
/*******************************************************************/
/*              Adapting for different screen sizes                */
/*******************************************************************/
/*******************************************************************/


/*~ >3/4ths of a large screen'd Web Browser*/
@media(max-width:1700px){
	.col{
		margin-left: 5%;
		margin-right: -2%;
	}

	.header{
		margin-left: -20%;
		margin-right: 2%;
	}
}

/*Both the 1650 and the 1580 are just inbetween ~ >3/4ths of the screen and ~3/4ths of the screen*/
@media(max-width: 1650px){
	.col{
		margin-left: 3%;
	}
}

/*Both the 1650 and the 1580 are just inbetween ~ >3/4ths of the screen and ~3/4ths of the screen*/
@media(max-width: 1580px){
	.col{
		margin-left: 1%;
		margin-right: 0%;
	}
}

@media(max-width: 1520px){
	.col{
		margin-left: 0%;
		margin-right: 0%;
	}
}

/*Smaller Web Browser*/
@media(max-width:1500px){

	.col{
		margin-left: 7%;
		margin-right:  0%;
	}
	
}

@media(max-width: 1480px){
	.col{
		margin-left: 10%;
	}
}

@media(max-width: 1200px){
	.col{
		margin-left: 7%;
	}
}

/*Inbetween Half Window and Smaller Web Browser*/
@media(max-width:1100px){
	.col{
		margin-left: 5%;
		margin-right: 0%;
	}
}

/*Half Window Web Browser*/
@media(max-width: 1080px){
	body{
		margin: 0%;
	}

	.header{
		margin-left: 0%;
	}


	.col{
		margin-left: 23%;
		width: 50%;
		height:  auto;
	}

	.col img{
		width: 80%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}



@media(max-width:1020px){
	body{
		margin: 10%;
	}

	.header{
		margin-left: -10%;
	}

	.col{
		margin-left: 17%;
		width: 60%;
		height: auto;
	}
}

@media(max-width: 900px){
	body{
		margin: 5%;
	}

	.header{
		margin-left: -5%;
	}


	.col{
		margin-left: 17%;
		width: 60%;
		height: auto;
	}

	h1{
		margin-top: 20%;
	}
}


/*Tablet Sized*/
@media(max-width:856px){
	body{
		margin: 0%;
	}

	.header{
		margin-left: 0%;
	}


	.col{
		/*Sizing and Formatting*/
		width: 60%;
		height: 40%;
		float: center;


		/*Font*/
		font-size: 16px;

		/*Border*/
		margin-left: 17%;
		/* margin-right: 1%;*/
		margin-bottom: 4%;
	}
	
	.col img{
		width: 90%;
		height: auto;
		margin: 0%;
		padding-left: 5%;
	}

}

/*Smaller Tablet Sized*/
/*@media(max-width:*/


/*Mobile Sized*/
@media(max-width:520px){
	.col{
		width: 90%;
		height: auto;

		margin-left: 2%;
		margin-right: 0%;
		font-size: 15px;
	}
	
}