@charset "utf-8";
/* CSS Document */

:root{
	--font-color: white;		 
	--font: sans-serif;

	/*Index Background Colors*/
	--background-color: #006635;      	/*Dark Green*/
	--header-border-color: #636125;   	/*Dark Gold*/
	--tile-color: #b4bd80;			/*Bkg color for index's tiles*/


	/*Text Background Colors*/
	--Necronomicon-bkg-col: #770000;  	/*Dark Red*/
	--Lullaby-bkg-col: #3c1361; 	  	/*Dark Purple*/
	--Collateral-bkg-col: #c7882a;		/*Yellow-Gold*/
	--Bleak-bkg-col: #345eeb;		/*Bold Light Blue*/
	--GADIG-bkg-col: #2f2f2f;		/*Dark Gray*/	
	--ExperimentIn-bkg-col: #8656b0;	/*Light Purple*/
	--MMMM-bkg-col: #c41bc2;		/*Pink*/
	--AotMC-bkg-col: #2d9de3;		/*Light Blue*/
}

/*Titles: the top of the page*/
h1{
	font-size: 2.75em; /*   40px/16 = 2.5 em*/
	text-align: center;
}

/*Contact Info:  will have to adjust margins & padding for screen size later*/
h2{
	font-size: 1.25em; /*   20px/16 = 1.25 em*/
	text-align: center;
	background-color: var(--header-border-color);
	
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 1%;
	padding-bottom: 1%;
}



/*Project Descriptions - text boxes will have to adjust for page size*/
.ptext{
	background-color: var(--AotMC-bkg-col);
	margin: 0% 12%;
	padding: 2%;

	font-size: 1em; /*   16px/16 = 1 em*/
	color: white;
	border: 1px none white;
	border-radius: 5px;
}

/*Project Section Header*/
/*Used only to underline the "mini-header" of a section in a text box*/
.pHeader{
	text-decoration: underline;
}

/*Puts all text in the center of the screen.  Used as it's own class 
to add it's own unique tags for each iteration of it (eg: change font size
in the middle of a string of text; etc.)*/
.center{
	text-align: center;
}

/*Navigation Menu Text*/
nav ul li{
	list-style-type: none;
	padding-left: 1.25em; /*   20px/16 = 1.25 em*/
	text-align: right;
	float: right;
}

/*Navigation Menu Hyperlinks*/
nav ul li a{
	text-decoration:none;
	color: white;
	font-size: 1.25em; /*   20px/16 = 1.25 em*/
}

/*"Body" Background of the webpage*/
body{
	background-color: var(--background-color); /* Dark Green */

	/*Borders and Alignment*/
	margin: 2% 10%; /*top/bot %   left/right %*/


	/*Font*/
	color: var(--font-color);
	font-family: var(--font);
}



/*******************************************************************/
/*******************************************************************/
/*                             Parallax                            */
/*******************************************************************/
/*******************************************************************/


.parallax{
	height: 100%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.parallax1st{
	height: 85%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.parallax2nd{
	height: 90%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



.parallax3rd{
	height: 100%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}





/*******************************************************************/
/*******************************************************************/
/*                          Project Images                         */
/*******************************************************************/
/*******************************************************************/




.pImage{
	margin-left: 10%;
	margin-right:10%;
	padding:2%;
	font-size: 1.125; /*   18px/16 = 1.125 em*/
}


.MainLogo{


}

.MainLogo img{
	width: 40%;
	margin: 1% 30%;
	text-align: center;
}

.deckImage{
	padding:2%;
}

.deckImage img{
	width: 25%;
	height: 25%;
}

.Level2{
	text-align: center;
}

.Level2 img{
	width: 60%;
	height: auto;
}


/*******************************************************************/
/*******************************************************************/
/*              Adapting for different screen sizes                */
/*******************************************************************/
/*******************************************************************/


@media(max-width: 1650px){
	.parallax1st{
		height: 80%;
	}

	.parallax2nd{
		height: 80%;
	}
}


@media(max-width: 1450px){
	.parallax1st{
		height: 75%;
	}

	.parallax2nd{
		height: 75%;
	}
}



/*Half Size (snapped to left/right*/
@media(max-width:1200px){
	.parallax{
		height: 70%;
	}

	.parallax1st{
		height: 80%;
	}

	.parallax2nd{
		height: 70%;
	}





	body{
		margin: 0% 0%;
	}

	.MainLogo img{
		width: 60%;
		margin: 0% 20%;
	}
}




/*Smaller Web Browser*/
@media(max-width:830px){
	.parallax{
		height: 80%;
	}

	.parallax1st{
		height: 80%;
	}

	.parallax2nd{
		height: 80%;
	}




	.MainLogo img{
		width: 80%;
		margin: 0% 10%;
	}


	.deckImage img{
		width: 50%;
	}
}





/*Mobile Sized*/
@media(max-width:700px){
	body{
		margin: 0% 0%; /*top/bot %   left/right %*/
	}
	.parallax{
		height: 60%;
	}

	.parallax1st{
		height: 70%;
	}

	.parallax2nd{
		height: 70%;
	}

	.ptext{
		margin: 0% 0%;
	}

}