@charset "utf-8";
/* CSS Document */

:root{
	--font-color: white;		 
	--font: sans-serif;

	/*Index Background Colors*/
	--background-color: #006635;      	/*Dark Green*/
	--header-border-color: #636125;   	/*Dark Gold*/
	--tile-color: #b4bd80;			/*Bkg color for index's tiles*/


	/*Text Background Colors*/
	--Lullaby-bkg-col: #3c1361; 	  	/*Dark Purple*/
}





/*Project Descriptions - text boxes will have to adjust for page size*/
.ptext{
	background-color: var(--Lullaby-bkg-col);
	margin: 0% 20%;
	padding: 2%;

	font-size: 1em; /*   16px/16 = 1 em*/
	color: white;
	border: 1px none white;
	border-radius: 5px;
}

/*Project Images*/
.pImage{
	margin-left: 10%;
	margin-right:10%;
	padding:2%;
	font-size: 1.125; /*   18px/16 = 1.125 em*/
}

/*Project Section Header*/
/*Used only to underline the "mini-header" of a section in a text box*/
.pHeader{
	text-decoration: underline;
}

/*Puts all text in the center of the screen.  Used as it's own class 
to add it's own unique tags for each iteration of it (eg: change font size
in the middle of a string of text; etc.)*/
.center{
	text-align: center;
}




/*"Body" Background of the webpage*/
body{
	background-color: var(--background-color); /* Dark Green */

	/*Borders and Alignment*/
	margin: 0% 10%; /*top/bot %   left/right %*/


	/*Font*/
	color: var(--font-color);
	font-family: var(--font);
}


.MainLogo{

}

.MainLogo img{
	width: 40%;
	height auto;
	margin: 0% 30% 1%;
}













/*******************************************************************/
/*******************************************************************/
/*                             Parallax                            */
/*******************************************************************/
/*******************************************************************/


.parallaxTitle{
	height: 40%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding: 5% 0%;
}


.parallax{
	height: 60%; /*this should be 100%*/
	width: auto;

	position: relative;
	background-attachment: fixed; /* This is what makes it parallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}




/*******************************************************************/
/*******************************************************************/
/*                        Navigation Bar                           */
/*******************************************************************/
/*******************************************************************/

.nav{
	background-color: var(--background-color);

	top: 0;
	position: fixed;
	overflow: hidden;

	width: 100%;
	height: auto;

	
}


.nav a{
	display: block;
	float: left;
	text-align: center;

}

.nav a:hover{
	color:  black;
}

.nav li{
	display:  inline-block;
	font-size: 1.5em;
	padding: 1% 2%;

}







/*******************************************************************/
/*******************************************************************/
/*              Adapting for different screen sizes                */
/*******************************************************************/
/*******************************************************************/



@media(max-width:1560px){
	.MainLogo img{
		width: 40%;
		margin: 0% 30% 0%;
	}

	.parallaxTitle{
		height: 40%;
		padding-bottom: -5%;
	}
}

@media(max-width:1500px){
	.MainLogo img{
		width: 40%;
		margin: 3% 30% 0%;
	}

	.parallaxTitle{
		height: 40%;
		padding-bottom: -5%;
	}
}

/*Half Size (snapped to left/right)*/
@media(max-width:1200px){
	body{
		margin-left: 5%;
		margin-right: 5%;
	}
	.MainLogo img{
		width: 40%;
		margin: 5% 30% 0%;
	}

	.parallaxTitle{
		height: 40%;
		padding-bottom: 0%;
	}
}



/*Smaller Web Browser*/
@media(max-width:830px){
	.MainLogo img{
		width: 50%;
		margin: 10% 25% 0%;
	}
}


/*Mobile Sized*/
@media(max-width:770px){

	body{
		margin: 0% 0%;
	}
	.parallaxTitle{
		height: 35%;
	}

	.ptext{
		margin: 2% 0%;
	}

}


/*Mobile Sized*/
@media(max-width:600px){
	.MainLogo img{
		margin-top: 15%;
	}
	body{
		margin: 0% 0%; /*top/bot %   left/right %*/
	}
	.parallaxTitle{
		height: 30%;
	}

}